/* What is a selector? */
/* A selector is a pattern that matches elements in a document. */

/* p is a selector that matches all <p> elements */
/* select all p elements */
/* Element selector - specify an element */
/* Element selectors ( specificty score of 1) */
/* HSL model: hue, saturation, lightness */
p {
  color: hsla(306, 66%, 49%, 0.8);
  font-size: 20pt;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-style: italic;
  text-align: justify;
  text-transform: uppercase;
}

/* label {
  color: teal;
} */

/* id selector */
/* #id matches a single element */
/* select the input element with id of "firstname" */
/* ID selectors ( specificity score of 100) */
#firstname {
  background-color: rgba(189, 43, 43, 0.516);
}

/* class selector */
/* .className is used to match elements with a specific class attribute */
/* class selectors ( specificity score of 10) */
/* RGB model: Red, Green, Blue */
.e1 {
  color: rgba(72, 10, 10, 0.642);
}

/* hexadecimal model: 6 digit value */
h3 {
  color: #00ff00;
}

div.center {
  text-align: center;
  width: 80%; /* 80% of the parent elements width */
}

.dog {
  width: 450px;
  height: 250px;
  background-image: url("german_shepherd.webp");
  background-color: #00ff00;
  background-repeat: no-repeat;
  background-size: cover;
}

/* attribute selector [attribute="value"] */
input[type="submit"] {
  background-color: aqua;
  color: blue;
  text-align: right;
  width: 100px;
}
